## SETTINGS

In [ ]:
# 폰트 설치
!apt-get install -y fonts-nanum
!fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
mpl.rc('font', family='NanumBarunGothic') # 혹은 다른 설치한 Nanum 폰트 사용
import matplotlib.font_manager as fm
# 설치된 폰트 중 'NanumGothic' 찾기
for font in fm.fontManager.ttflist:
    if 'NanumGothic' in font.name:
        plt.rcParams['font.family'] = font.name
        break
plt.rcParams['axes.unicode_minus'] = False
import seaborn as sns
import numpy as np
import scipy.stats as stats

## 2021년 시도별 사망자 통계

### 데이터 로딩 및

In [6]:
df_death_statistics = pd.read_csv("../csv/2021년_월별_시도별_사망자통계.csv")

In [9]:
df_death_statistics = df_death_statistics.drop(index=0)
df_death_statistics = df_death_statistics.reset_index(drop=True)
df_death_statistics

,시점,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원특별자치도,충청북도,충청남도,전북특별자치도,전라남도,경상북도,경상남도,제주특별자치도
0,2021.01,27223,4095,2094,1289,1419,674,643,492,105,5774,1071,1018,1430,1314,1564,1867,2037,337
1,2021.02,23787,3613,1804,1032,1210,602,620,425,111,5055,967,966,1170,1128,1300,1711,1754,319
2,2021.03,26559,3938,1928,1245,1325,698,644,444,117,5629,1096,1016,1370,1277,1517,1977,1948,390
3,2021.04,25071,3701,1826,1208,1318,627,631,448,103,5267,1048,968,1260,1278,1421,1814,1805,348
4,2021.05,25567,3977,1912,1113,1380,615,593,460,109,5434,980,1001,1294,1221,1359,1866,1910,343
5,2021.06,24381,3643,1735,1093,1297,623,630,443,93,5207,988,947,1291,1185,1407,1727,1769,303
6,2021.07,25732,3958,1919,1185,1386,681,617,446,107,5554,1011,924,1320,1152,1365,1858,1928,321
7,2021.08,25918,3944,1960,1221,1306,652,721,470,115,5370,1043,962,1287,1215,1450,1891,1955,356
8,2021.09,25662,3921,1892,1203,1318,645,608,434,99,5362,1072,930,1303,1207,1431,1926,1929,382
9,2021.10,27750,4159,2024,1317,1421,722,666,478,131,5830,1164,1041,1456,1355,1582,1989,2040,375
10,2021.11,28366,4488,2140,1310,1430,709,684,456,135,6013,1111,1048,1495,1303,1554,2024,2096,370
11,2021.12,31664,5361,2297,1344,1683,733,832,497,129,6904,1198,1120,1650,1414,1618,2278,2221,385

In [10]:
df_death_statistics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시점       12 non-null     object
 1   전국       12 non-null     object
 2   서울특별시    12 non-null     object
 3   부산광역시    12 non-null     object
 4   대구광역시    12 non-null     object
 5   인천광역시    12 non-null     object
 6   광주광역시    12 non-null     object
 7   대전광역시    12 non-null     object
 8   울산광역시    12 non-null     object
 9   세종특별자치시  12 non-null     object
 10  경기도      12 non-null     object
 11  강원특별자치도  12 non-null     object
 12  충청북도     12 non-null     object
 13  충청남도     12 non-null     object
 14  전북특별자치도  12 non-null     object
 15  전라남도     12 non-null     object
 16  경상북도     12 non-null     object
 17  경상남도     12 non-null     object
 18  제주특별자치도  12 non-null     object
dtypes: object(19)
memory usage: 1.9+ KB

In [7]:
df_death_statistics

,시점,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원특별자치도,충청북도,충청남도,전북특별자치도,전라남도,경상북도,경상남도,제주특별자치도
0,시점,사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명),사망자수(명)
1,2021.01,27223,4095,2094,1289,1419,674,643,492,105,5774,1071,1018,1430,1314,1564,1867,2037,337
2,2021.02,23787,3613,1804,1032,1210,602,620,425,111,5055,967,966,1170,1128,1300,1711,1754,319
3,2021.03,26559,3938,1928,1245,1325,698,644,444,117,5629,1096,1016,1370,1277,1517,1977,1948,390
4,2021.04,25071,3701,1826,1208,1318,627,631,448,103,5267,1048,968,1260,1278,1421,1814,1805,348
5,2021.05,25567,3977,1912,1113,1380,615,593,460,109,5434,980,1001,1294,1221,1359,1866,1910,343
6,2021.06,24381,3643,1735,1093,1297,623,630,443,93,5207,988,947,1291,1185,1407,1727,1769,303
7,2021.07,25732,3958,1919,1185,1386,681,617,446,107,5554,1011,924,1320,1152,1365,1858,1928,321
8,2021.08,25918,3944,1960,1221,1306,652,721,470,115,5370,1043,962,1287,1215,1450,1891,1955,356
9,2021.09,25662,3921,1892,1203,1318,645,608,434,99,5362,1072,930,1303,1207,1431,1926,1929,382
10,2021.10,27750,4159,2024,1317,1421,722,666,478,131,5830,1164,1041,1456,1355,1582,1989,2040,375
11,2021.11,28366,4488,2140,1310,1430,709,684,456,135,6013,1111,1048,1495,1303,1554,2024,2096,370
12,2021.12,31664,5361,2297,1344,1683,733,832,497,129,6904,1198,1120,1650,1414,1618,2278,2221,385